* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f0f0f0; 
    color: #333;
}
header {
    background-color: #333; 
    color: #fff; 
    padding: 20px;
    text-align: center;
}

.first-post {
    background-color: #fff; 
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px; 
}
.read-more {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
.other-posts {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around; 
}
.post {
    width: 85%; 
    background-color: #fff; 
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}
footer {
    background-color: #333;
    color: #fff; 
    padding: 10px;
    text-align: center;
}